*.iml
.DS_Store
.idea

server/.gradle
server/gradle/wrapper/gradle-wrapper.jar
server/build
server/target
server/out
server/.env
server/.scannerwork/
server/*.log
client/node_modules
.env
?
gradle-kotlin-dsl-extensions-*
it/.gradle
it/gradle/wrapper/gradle-wrapper.jar
it/build
it/out
it/target
native-platform*
gradle-worker-classpath*
*.log
*.alive
*.log.lck
build